name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Configuración del plugin Habits
          base: "" 
          plugin_habits: yes
          plugin_habits_from: 200       # Analiza los últimos 200 eventos
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_charts: yes
          plugin_habits_trim: yes       # Oculta horas vacías para evitar errores de renderizado
          config_timezone: America/Montevideo 
          
          # Esto ayuda a diagnosticar si el error persiste
          debug: yes

